################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CatanGame.Interfaces/obj
/CatanGameManager/obj
/CatanGameManager.Core/bin/Debug/netcoreapp2.0
/CatanGameManager.Core/obj
/.vs/CatanGameManager/DesignTimeBuild/.dtbcache
/.vs/CatanGameManager/v15/Server/sqlite3
/.vs/CatanGameManager/bin/*
*.suo
/CatanGamePeristanceSQL/obj
/CatanGamePersistanceMongoDB/bin/Debug/netcoreapp2.0
/CatanGamePersistanceMongoDB/obj
/CommonObjects/obj
/CatanGameManager.sln.DotSettings.user
*.props
*.cache
*.targets
/CatanGame.Tests/obj/
/*/bin
/*/obj
/CatanGame.Tests/bin/Debug/netcoreapp2.0
/CatanGame.Tests/bin/Debug/netcoreapp2.1
/CatanGame.Tests/bin/*
/CatanGameManager/Properties/launchSettings.json
/CatanGamePeristanceSQL/bin/Debug/netcoreapp2.0
/CommonObjects/bin/Debug/netcoreapp2.0
/CatanGameManager/bin/Debug/netcoreapp2.0
/CatanGame.Interfaces/bin/Debug/netcoreapp2.0
/CatanGameManager/bin/Debug/netcoreapp2.0
*.user
/.vs
/CatanGame/CatanGame.Interfaces/bin/Debug
/CatanGame/CatanGame.Interfaces/obj
/CatanGame/CatanGameManager.API/bin/Debug/netcoreapp3.1
/CatanGame/CatanGameManager.API/obj
/CatanGame/CatanGameManager.Common/bin/Debug/netcoreapp3.1
/CatanGame/CatanGameManager.Common/obj
/CatanGame/CatanGameManager.Core/bin/Debug
/CatanGame/CatanGameManager.Core/obj
/CatanGame/CatanGameManger.Persistence.Mongo/bin/Debug/netcoreapp3.1
/CatanGame/CatanGameManger.Persistence.Mongo/obj
/Tests/CatanGame.Tests/bin/Debug/netcoreapp2.0
/Tests/CatanGame.Tests/bin/Debug
/Tests/CatanGame.Tests/obj
/Users/User.Interfaces/obj
/Users/UserManager/obj
/Users/UserManager.Common/obj
/Users/UserManager.Core/obj
/Users/UserManager.MongoPersist/obj
