################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs/


*\bin
*\obj

*.log
/https/aspnetapp.pfx
.vscode/tasks.json
.vscode/launch.json
Users/UserManager/appsettings.json
